<div class="wrapper">
  <div id="floor-switcher">
    <button (click)="switchFloor(1)">Этаж 1</button>
    <button (click)="switchFloor(2)">Этаж 2</button>
    <button (click)="switchFloor(3)">Этаж 3</button>
  </div>
  <div class="display_wrapper">
    <div id="display">
      <canvas class="display_canvas" id="canvas_1"></canvas>
      <canvas class="display_canvas" id="canvas_2"></canvas>
      <canvas class="display_canvas" id="canvas_3"></canvas>
    </div>
  </div>
  <div id="roles"></div>
  <div id="messages"></div>
</div>
